<!DOCTYPE html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <title> Home </title>
        {% include 'Mahasiswa/navbar_mahasiswa.html' %}
    </head>
    <body>
        <div class="container">
          <h1 class="mt-4 mb-4">Home</h1>
          <h3 class="mt-0 mb-4"><small>Selamat datang, {{nim}} - {{mahasiswa.name}}</small></h3>
        </div>

        <div class="container d-flex justify-content-center">
            <div class="row mx-auto btn-group justify-content-center" role="group">
                <div class="col-3 mt-5">
                    <a class="btn btn-outline-primary btn-lg btn-block" href="{% url 'mhs:ViewLOSuplemen' nim %}">
                        <h1><i class="bi bi-file-bar-graph" href="{% url 'mhs:ViewLOSuplemen' nim %}"></i></h1>
                        Penilaian LO<br>Suplemen
                    </a>
                </div>
                <div class="col-3 mt-5">
                    <a class="btn btn-outline-primary btn-lg btn-block" href="{% url 'mhs:ListFormKomunikasi' nim %}">
                        <h1><i class="bi bi-person-check-fill" href="{% url 'mhs:ListFormKomunikasi' nim %}"></i></h1>
                        Peer<br>Assessment<br>Komunikasi       
                    </a>
                </div>
                <div class="col-3 mt-5">
                    <a class="btn btn-outline-primary btn-lg btn-block" href="{% url 'mhs:ListFormKerjasama' nim %}">
                        <h1><i class="bi bi-people-fill" href="{% url 'mhs:ListFormKerjasama' nim %}"></i></h1>
                        Peer<br>Assessment<br>Kerjasama
                    </a>
                </div>
                <div class="col-3 mt-5">
                    <a class="btn btn-outline-primary btn-lg btn-block" href="{% url 'mhs:ListKuesioner' nim %}">
                        <h1><i class="bi bi-ui-checks" href="{% url 'mhs:ListKuesioner' nim %}"></i></h1>
                        Kuesioner<br>Evaluasi<br>Perkuliahan
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
