<!DOCTYPE html>
<html>
    <style>
        ul {list-style: none;}
        div {font-size: large;}
    </style>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <title> Kuesioner Evaluasi Perkuliahan</title>
        {% include 'Mahasiswa/navbar_mahasiswa.html' %}
    </head>
    <body>
        <div class="container">
            <h1 class="mt-4 mb-5"> Kuesioner Evaluasi Perkuliahan {{course_id}}</h1>
            <form action="{% url 'mhs:SubmitFormKuesioner' identitas.first_name year semester course_id %}" method="POST">
                {% csrf_token %}
                <h3 class="mt-0 mb-3"> Isi Identitas Anda</h3>
                {{identitas}}
                <h5 class="mt-5 mb-5"> Pertanyaan berikut merupakan penilaian terhadap keberjalanan mata kuliah yang anda ambil. Harap menilai kualitas mata kuliah dengan jujur karena penilaian yang Anda berikan tidak akan mempengaruhi indeks prestasi (IP).</h5>
                    <div> 
                        <h4 class="mt-0 mb-3">1. Saya memperoleh informasi yang cukup tentang hal-hal tertentu yang harus saya capai atau kuasai (luaran matakuliah) sesudah mengikuti matakuliah ini.</h4>
                        {{penilaian.Kuesioner1}}
                        <h4 class="mt-0 mb-3">2. Pelaksanaan perkuliahan diarahkan agar mahasiswa dapat mencapai atau menguasai luaran matakuliah ini.</h4>
                        {{penilaian.Kuesioner2}}
                        <h4 class="mt-0 mb-3">3. Saya mencapai atau menguasai luaran matakuliah ini.</h4>
                        {{penilaian.Kuesioner3}}
                        <h4 class="mt-0 mb-3">4. Pelaksanaan perkuliahan terorganisir dengan baik.</h4>
                        {{penilaian.Kuesioner4}}
                        <h4 class="mt-0 mb-3">5. Dosen berkomunikasi dengan efektif.</h4>
                        {{penilaian.Kuesioner5}}
                        <h4 class="mt-0 mb-3">6. Dosen peduli terhadap pencapaian atau penguasaan mahasiswa akan luaran matakuliah ini.</h4>
                        {{penilaian.Kuesioner6}}
                        <h4 class="mt-0 mb-3">7. Dosen berlaku adil (fair) kepada mahasiswa.</h4>
                        {{penilaian.Kuesioner7}}
                        <h4 class="mt-0 mb-3">8. Beban kerja untuk matakuliah ini sesuai dengan SKS-nya.</h4>
                        {{penilaian.Kuesioner8}}
                        <h4 class="mt-0 mb-3">9. Sarana prasarana untuk matakuliah tersedia dengan memadai.</h4>
                        {{penilaian.Kuesioner9}}
                        <h4 class="mt-0 mb-3">10. Tersedia cukup fasilitas pendukung di luar kuliah yang memungkinkan saya mengikuti matakuliah ini dengan baik.</h4>
                        {{penilaian.Kuesioner10}}
                        <h4 class="mt-0 mb-3">11. Saya berusaha dengan sungguh-sungguh mengikuti matakuliah ini.</h4>
                        {{penilaian.Kuesioner11}}
                        <h4 class="mt-0 mb-3">12. Saya memperoleh pengalaman belajar yang positif dalam matakuliah ini.</h4>
                        {{penilaian.Kuesioner12}}
                    </div>
                <input type="submit" value="Submit" class="btn btn-primary btn-lg mb-5"> <br>
            </form>
        </div>
    </body>
</html>