<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <title>
            List Kuesioner Tersedia
        </title>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">SIXPlus</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Aplikasi</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="">Kelas</a>
                        <a class="dropdown-item" href="">LO Suplemen</a>
                        <a class="dropdown-item" href="">Form Komunikasi</a>
                        <a class="dropdown-item" href="">Form Kerjasama</a>
                        <!--
                        <a class="dropdown-item" href="#">Keuangan & Beasiswa</a>
                        <a class="dropdown-item" href="#">Kelas</a>
                        <a class="dropdown-item" href="#">Rencana Studi & Perwalian</a>
                        <a class="dropdown-item" href="#">Penjurusan TPB</a>
                        <a class="dropdown-item" href="#">Evaluasi Perkuliahan & Portofolio</a>
                        <a class="dropdown-item" href="#">Wisuda</a>
                        <a class="dropdown-item" href="#">Control Panel</a> -->
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">ID</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">EN</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>User</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-user"></span>Profil</a>
                        <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-log-out"></span>Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="container">
            <h1 class="mt-4 mb-5"> Pilih Kuesioner </h1>
            {% csrf_token %}
            <ul>
            {% for item in kuesioner_list %}
                <li><h4 class="mt-0 mb-3"><a href="{% url 'mhs:FormKuesioner' nim item.section.year item.section.semester item.section.course.course_id %}">{{item}}</a></h4></li>
            {% endfor %}
            </ul>
            <br>
        </div>
    </body>
</html>