<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <title>
            Pembobotan Komponen Penilaian
        </title>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">SIXPlus</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Aplikasi</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'dosen:OMM' nip %}">Objective Matrix Model</a>
                        <a class="dropdown-item" href="{% url 'dosen:SectionWithTeaches' nip %}">Nilai</a>
                        <a class="dropdown-item" href="{% url 'dosen:KomponenNilai' nip %}">Komponen Nilai</a>
                        <!--
                        <a class="dropdown-item" href="#">Keuangan & Beasiswa</a>
                        <a class="dropdown-item" href="#">Kelas</a>
                        <a class="dropdown-item" href="#">Rencana Studi & Perwalian</a>
                        <a class="dropdown-item" href="#">Penjurusan TPB</a>
                        <a class="dropdown-item" href="#">Evaluasi Perkuliahan & Portofolio</a>
                        <a class="dropdown-item" href="#">Wisuda</a>
                        <a class="dropdown-item" href="#">Control Panel</a> -->
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">ID</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">EN</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>User</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-user"></span>Profil</a>
                        <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-log-out"></span>Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="container">
            {% csrf_token %}
            <h1 class="mt-4 mb-4"> Berhasil Tersimpan </h1>
            <h4 class="mt-0 mb-4"><a href="{% url 'dosen:KomponenNilai' nip %}">Klik disini untuk mengisi lagi</a></h4>
        </div>
    </body>
</html>