<!DOCTYPE html>
    <head>
        <title> Course Asessment </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        {% include 'Dosen/navbar_dosen.html' %}
    </head>
    <body>
        <div class="container">
            <h1 class="mt-4 mb-5">Course Assessment </h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="container">
                    <form action="{% url 'dosen:SubmitCourseAssessmentList' nip %}" method = "POST">
                        {% csrf_token %}
                        <label for="semyear" class="mt-1 mb-1"><h4><small>Choose semester and year</small></h4></label>
                        <select id="semyear" name="semyear" class="form-select w-auto">
                            {% for key, value in list_tahun_dict.items %}
                                {% for sem in value %}
                                    <option value="{{key}}, {{sem}}"> Course Assessment {{key}}-{{sem}} </option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-primary mt-3">Submit</button>
                    </form>
                </div>
            </div> 
        </div>
    </body>
</html>
