<!DOCTYPE html>
    <head>
        <title> LO Assessment </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        {% include 'Dosen/navbar_dosen.html' %}
        {% include 'Dosen/message.html' %}
    </head>
    <body>
        <div class="container">
            <h1 class="mt-4 mb-5">LO Assessment Semester {{sem}} - Tahun {{tahun1}}/{{tahun2}}</h1>
        </div>
        
        <div class="container table-responsive">
            <table border="1" width='100%' style="text-align: center;" class="table table-hover mb-5">
                <thead>
                    <tr>
                        <th> Mata Kuliah </th> 
                        <th> LO A </th>
                        <th> LO B </th>
                        <th> LO C </th>
                        <th> LO D </th>
                        <th> LO E </th>
                        <th> LO F </th>
                        <th> LO G </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in list_matkul %}
                        <tr>
                            <td> {{item.course}} </td>
                            <td> {{item.lo_a}} </td>
                            <td> {{item.lo_b}} </td>
                            <td> {{item.lo_c}} </td>
                            <td> {{item.lo_d}} </td>
                            <td> {{item.lo_e}} </td>
                            <td> {{item.lo_f}} </td>
                            <td> {{item.lo_g}} </td>
                        <tr>
                    {% endfor %}
                        <tr>
                            <td> <b> LO Assessment </b></td>
                            <td> <b>{{lo_assessment.lo_a}}</b> </td>
                            <td> <b>{{lo_assessment.lo_b}}</b> </td>
                            <td> <b>{{lo_assessment.lo_c}}</b> </td>
                            <td> <b>{{lo_assessment.lo_d}}</b> </td>
                            <td> <b>{{lo_assessment.lo_e}}</b> </td>
                            <td> <b>{{lo_assessment.lo_f}}</b> </td>
                            <td> <b>{{lo_assessment.lo_g}}</b> </td>
                        </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
