<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        {% include 'Dosen/navbar_dosen.html' %}
        <title>
            Pembobotan Komponen Penilaian
        </title>
    </head>
    <body>
        <div class="container">
            <h1 class="mt-4 mb-4"> Pilih Mata Kuliah </h1>
            {% csrf_token %}
            <ul>
            {% for item in course_list %}
                <li><h4 class="mt-0 mb-3"><a href="{% url 'dosen:FormKomponen' nip item.course_id %}">{{item}}</a></h4></li> <br>
            {% endfor %}
            </ul>
        </div>
    </body>
</html>