<!DOCTYPE html>
    <head>
        <title> Penilaian Kelas </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        {% include 'Dosen/navbar_dosen.html' %}
    </head>
    <body>
        <div class="container">
            <h1 class="mt-4 mb-4">Daftar Kelas </h1>
        </div>
        
        <div class="container">
            <h3 class="mt-0 mb-2"><small>Nama : {{dosen.name}} </small></h3>
            <h3 class="mt-0 mb-5"><small>NIP  : {{dosen.nip}} </small></h3>
            <div class="row">
                <div class="col-md-8">
                    <form action="{% url 'dosen:GetSection2' nip %}" method = "POST">
                        {% csrf_token %}
                        <label for="section" class="mt-0 mb-1"><h4><small>Choose a section</small></h4></label>
                        <select id="section" name="section" class="form-select w-auto">
                            {% for kelas in teaches %}
                            <option value="{{kelas.section.year}}, {{kelas.section.semester}}, {{kelas.section.course.course_id}}, {{kelas.section.sec_id}}">{{kelas.section}}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-primary mt-3">Submit</button>
                    </form>
                </div>
            </div> 
        </div>
    </body>
</html>
