<!DOCTYPE html>
    <head>
        <title> Penilaian Kelas </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        {% include 'Dosen/navbar_dosen.html' %}
        {% include 'Dosen/message.html' %}
    </head>
    <body>
        <div class="container">
            <h1 class="mt-4 mb-5">Penilaian {{header}} </h1>
        </div>
        
        <div class="container">
            <!-- <h3 class="mt-0 mb-2">Nama : {{dosen.name}} </h3>
            <h3 class="mt-0 mb-4">NIP  : {{dosen.nip}}</h3> -->
            
            <h3 class="mt-0 mb-4">Tabel Nilai Mahasiswa</h3>

            <!-- <div class="row">
                <div class="col-md-8">
                    <form action="">
                        <label for="section">Choose a section</label>
                        <select id="section" name="section">
                            {% for kelas in section %}
                            <option value="{{kelas}}">{{kelas}}</option>
                            {% endfor %}
                        </select>
                        <input type="submit">
                    </form>
                </div>
            </div> -->
            <!-- {% for score in scores %}
            <div class="row">
               
                <h6>{{score}}</h6> 
                
            </div>
            {% endfor %} -->
            <div class="table-responsive">
                <table border="1" style="text-align: center;" class="table table-hover mb-4"><!-- tambahin table-bordered kalau mau bergaris -->
                    <thead>
                    <tr>
                        <th> NIM </th> 
                        <th> Nama </th>
                        {% for komponen in scores_komponen %}
                            <th> {{komponen}} </th>
                        {% endfor %}
                        <th> Indeks </th>
                    </tr>
                </thead>
                <tbody>
                    {% for score in scores %}
                        <tr>
                            <td> {{score.takes.student.nim}} </td>
                            <td> {{score.takes.student.name}} </td>
                            {% for inv_score in score.scores %}
                                <td> {{inv_score}} </td>
                            {% endfor %}
                            <td> {{score.takes.grade}} </td>

                        <tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
            <div class="d-flex flex-row">
                <div>
                    <form action="{% url 'dosen:BobotIndeks' nip year semester course_id section_id %}" method='GET'>
                        <button class="btn btn-primary mb-5 me-4" type='submit'> Set Persentase dan Batas Indeks </button>
                    </form>
                </div>
                <div>
                    <form action="{% url 'dosen:ExcelDownload' nip year semester course_id section_id %}" method='GET'>
                        <button  class="btn btn-primary mb-5" type='submit'> Download (.xslx)</button>
                    </form>
                </div>
            </div>

            <h3 class="mt-0 mb-4">Summary Indeks Mahasiswa</h3>
            <div class="table-responsive">
                <table border="1" style="text-align: center;" class="table table-hover w-50 mx-auto table-bordered mb-5">
                    <thead>
                        <tr class="table-active">
                            <th> Indeks </th> 
                            <th> Jumlah </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in indeks_dict.items %}
                            <tr>
                                <td> {{key}} </td>
                                <td> {{value}} </td>
                            <tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <h3 class="mt-0 mb-0">Upload Nilai Mahasiswa</h3>
            <form action="{% url 'dosen:ExcelUpload' nip year semester course_id section_id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                Select File to upload:
                <input class = "button button2 mt-4 mb-4 me-2" type="file" name="excelUpload" id="excelUpload">
                <br>
                <input class = "btn btn-primary mt-0 mb-5" type="submit" value="Upload Penilaian Kelas">
            </form>

        </div>

        <!-- {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} -->
        {% if messages %}
          <script>
              {% for message in messages %}
                  $(document).ready(function () {
                      $('.toast').toast('show');
                  });
              {% endfor %}
          </script>
        {% endif %}
    </body>
</html>
